[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
folium = "*"
scikit-learn = "*"
shapely = "*"
geopandas = "*"
streamlit = "*"
pipreqs = "*"
streamlit-folium = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
